*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
}

.mas1{
    display: flex;
    align-items: center;
    width: 300px;
    height: 110px;
    padding-left: 10px;
}
.imgg{
    max-width: 100%;
    height: auto;
}
.mas2{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 30px;
    width: 960px;
    height: auto;
        color: #3168d6;
       
}
#ul1{
     flex-wrap: wrap;
}
ul{
    display: flex;
    list-style: none;
    
}

.a2{
    color: #bf0d0d;
     transition: 0.2s;
         text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.a2:hover{
    font-size: 35px;
}
.a1{
        color: #3168d6; 
        transition: 0.2s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    text-decoration: none;
}
.a1:hover{
    color: #bf0d0d;
    font-size: 35px;


   
}
.mas3{
    display:flex ;
    align-items: center;
    color: #bf0d0d;
    font-size: 30px;
    width: 80px;
    height: auto;
    justify-content: center;
}
.mas4{
    color: #3168d6;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 80px;
    height: auto;
    align-items: center;
}
.mas6{
    display: none;
}
.mas7{
    display: flex;
    align-items: center;
    font-size: 30px;
    
}
.li12{
    color: #bf0d0d;
    padding: 10px;
      text-decoration: none;

}
.li12:hover{
    font-size: 32px;
}
.li1{
    display: flex;
    text-align: center;
    
}
.mas5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    font-size: 30px;
    color: #bf0d0d;
}
.araqum{
    display: block;
   
    font-size: 25px;
    
}
.txt1{
    flex-wrap: nowrap;
    text-align: center;
}
.mas6{
    font-size: 30px;
    width: 80px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.nonetxt{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.backimg{
    display: flex;
    width: 100%;
    height: 1150px;
}
.imgb{
    max-width: 100%;
    max-height: 100%;
}
.border{
    padding: 80px 200px 150px 200px;
    display: grid;
    grid-template-columns: 100%;
    

}
#img{
    background-image: url(../images/mrgyros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
     grid-template-columns: 60% 40%;
}

.bp1{
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-size: 30px;

}
.bh1{
    color: #0a56ee;
    font-size: 30px;
        padding: 0px 10px 20px 20px;
    }
    .p111{
        width: 600px;
        animation: coloranimation 1s infinite alternate ;
        border-radius: 10px;
text-shadow: black 10px 0px 10px;
 
    }
    .p111:hover{
        background-color: #cadaf8;
    }

.span1:hover{
    background-color: white;
    color: #bf0d0d;
    border:2px solid red
}
.span1{
    color: white;
      margin-left: 20px;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 170px;
    height: 50px;
    background-color: #bf0d0d;
    border-radius: 50px;
    border: 0px;
    transition: 0.2s;
    text-decoration: none;
    
}

.bimg{
    display: flex;
align-items: center;
    width: 100%;
    height: auto ;
    padding: 15px 1px 15px 1px;
}
.bimg1{
    width: 100%;
    height: 525px ;
}
.border1{
flex-direction: column;
display: flex;
align-self: center;
}
#id2{
    width: 100%;
    height: 400px;
    
}
.cank{
    width: 100%;
    height: auto;
   
}


.pt{
    font-size: 30px;
}
.cank {
    position: relative;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
}
.vern{
position: absolute;
text-align: center;
align-items: center;
height: auto;
width: 100%;
color: #3168d6;
top: -100px;
}
.nkarner {
    display: grid;
    padding-left: 200px;
    padding-right: 200px;
   padding-top: 80px;
  padding-bottom: 80px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 6px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.nkar{
      width: 100%;
    height: 380px;
}
.nkar1{
    position: relative;
     width: 100%;
    height: 380px;
}

.animt{
    background-color: rgba(255, 255, 255, 0.85);
}
.brdm{
        color: white;
      margin-left: 20px;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 170px;
    height: 50px;
    background-color: #bf0d0d;
    border-radius: 50px;
    border: 0px;
    transition: 0.2s;
    text-decoration: none;
}
.brdm:hover{
        background-color: white;
    color: #bf0d0d;
    border:2px solid red
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.burgerb{

    padding: 80px 200px 80px 200px;

}
.div{
    background-image: url(../images/BackBurger2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: grid;
     grid-template-columns:50% 50%;

}
.ifrvd{
display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 1px 15px 1px;
}
.h1burg{
    font-size: 25px;
    color: #3168d6;
}
.pburg{
    font-size: 30px;
    color: #3168d6;
}
.br{
    width: 41px;
    height: 50px;
    color: #bf0d0d;
    padding-top: 10px;
    font-size: 100px;
transform: translate(120px, 50%);
}

table{
    font-size: 25px;
    width: 300px;
    text-align: center;
border: 3px solid black;
color: green;
box-shadow:
  3px 3px red,
  -1em 0 0.4em blue;
  background-color: midnightblue;
}
.brd::after{
    content: icon;
}
.br::after{
    content: url(../images/images.png);
}
.brd::before{
    content: icon;
}
.br::before{
    content: url(../images/images.png);
}
.table{
     padding-left: 25px;
     padding-bottom: 20px;
}
caption{
    width: 100%;
}



footer{
     background-color: rgb(22, 42, 70) ;
}
.fotmas1{
    padding-left: 240px;
    padding-right: 240px;
    height: 567px;    

    display: flex;
       

}
.fmas1{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
    width: 440px;
    height: 416px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;

}
.guyn{
    color: #3168d6;
            padding-bottom: 10px;

}
.guyn1{
        padding-bottom: 10px;

}
.fmas2{
    display: flex;
    flex-direction: column;
align-items: end;    
font-size: 30px;
    color: white;
    padding-bottom: 80px;
    padding-top: 80px;
    width: 125px;
    height: 416px;
    
  
}
    .fomas2r{
        margin-top: 45px;
        margin-bottom: 20px;
    }
.fomas2{
    margin-bottom: 30px;
}
.fmas3{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    padding: 55px 0px 80px 0px;
    width: 450px;
}
.str1{
    padding-bottom: 30px;
}
.str12{
    padding-bottom:22px ;
}
.fmas4{
    font-size: 30px;
    color: white;
    padding: 80px 0 80px 0;
    width: 490px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.merna{
    padding: 15px;
    height: 40px;
}
.opshicon{
    height: 50px;
}
.app{
padding-top: 100px;
}
.apps{
    width: 100px;
    height: 33px;
}
.granc{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    
    height: 50px;


}
.granc1{
            display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-left: 30px;
    height: 50px;

}
.butgranc{
    
  border-radius: 50px;
  background-color: white;
  border: 3px solid aqua;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.butgranc a{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.butgranc a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.butgranc:hover a {
  padding-right: 25px;
}
.butgranc:hover a:after {
  opacity: 1;
  right: 0;
}


.grmu{
    padding-top: 30px;
    display: flex;

}
.mutq{
      width: 150px;
    height: 50px;
    border-radius: 50px;
background-color: white;
border: 3px solid aqua; 
        display: flex;
    justify-content: center;
    align-items: center;
}
.aqua{
    color: aqua;
    text-decoration: none;

}
.select{
    padding-top: 30px;
}
#arm{
   
width: 200px;
height: 40px;
font-size: 25px;
}

.dropbtn{
    display: flex;
    color: white;
    width: 200px;
    height: 40px;
    background-color: #bf0d0d;
    border-radius: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}
.dropdown-content {
  display: none;
text-decoration: none;
  position: absolute;
  background-color: #bf0d0d;
  min-width: 150px;
    color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.drpcol{
    color: black;
    padding-top: 30px;
}
.a5{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}










@keyframes coloranimation {
    from{
        color: rgb(143, 24, 24);
        background: #cadaf8;
    }
    to{
        color: rgb(60, 0, 255);
    }
}






@media screen and (max-width:1600px) {
    .bh1{
        font-size: 25px;
    }
}
@media screen and (max-width:1440px) {
     .border{
        padding: 80px 100px 80px 100px;
     }
     .bh1{
        font-size: 20px;
     }
     .p111{
        font-size: 20px; 
        display: flex;
        flex-wrap: wrap;
        width: 400px;
     }
    .nkarner{
        padding: 90px 100px 80px 100px;
    }
    .vern{
        top: -50px;
    }
    .burgerb{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width:1300px) {

    .fotmas1{
        padding-left: 100px;
        padding-right: 100px;
    }
    .br{
        font-size: 60px;
    }

    
}
@media screen and (max-width:1000px) {
    .mas2{
        display: none;
    }
    .mas6{
        display: flex;
    }
    #img{
       grid-template-columns: 100%;
       grid-template-rows: 37% 63%;
    }
    .p111{
        width: 100%;
    }
    .pt{
        font-size: 20px;
    }
    .im{
        width: 98%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
    .imag{
        max-width: 100%;
        height: auto;
    }
    .nkarner{
 grid-template-columns: repeat(3, minmax(0, 1fr));    
 grid-template-columns:33% 33% 33% ;
 grid-template-rows: 20% 20% 20% 20% 20%;
}
.div{
    flex-direction: column;
   grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.nkarr6{
    display: none;
}
    .fotmas1{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:830px) {
    .granc1{
        padding-left: 0;
        padding-top: 15px;
    }
    .h1burg{
        font-size: 25px;
        }
        .pburg{
font-size: 20px;
        
    }
.fmas1{
    font-size: 20px;  
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    }
 .fmas2{
    font-size: 20px;
    width: 30px;
    }
    .fmas3{
    font-size: 20px;  
    width: 200px;
    }
    .fmas4{
    font-size: 20px;  
    width: 300px;
    }
    .grmu{
        flex-direction:column ;
    }
    .merna{
        padding: 5px;
    }
    .app{
        padding-top: 50px;
    }
    .dropbtn{
        width: 150px;
    }
}

@media screen and (max-width:720px) {
    .mas3{display: none;}
    .mas4{display: none;}
    .backimg{
        height: 800px;
    }
    .imgb{
        height: 800px;
    }
    .border{
        padding: 40px 50px 40px 50px;
    }
    .nkarner{
        padding:90px 50px 40px 40px ;
    }
    .vern{
        top: -15px;
    }
    .li1{
        flex-direction: column;
    }
    .h1burg{
        font-size: 15px;
    }
    .burgerb{
        padding-left: 40px ;
        padding-right: 40px;
    }

}
@media screen and (max-width:600px) {
    #img{
       grid-template-columns: 100%;
       grid-template-rows: 40% 60%;
    }
    .border{
        padding:20px 30px 20px 30px ;
    }
    .bh1{
        font-size: 17px;
    }
    .vern{
        font-size: 14px;
    }
    .nkar1{
        height: 250px;

    }
    .nkar{
        height: 250px;
    }
    .nkarner{
        padding-left: 20px;
        padding-right: 20px;
    }

    table{
        width: 200px;
    }

}